/* Header */
.header {
  background-color: var(--second-accent-color);
  border-bottom: 1px solid #ececec;
}

.header__flex {
  display: flex;
  align-items: center;

  &--left {
  margin-left: auto;
}
}

