/* Our clients */

.our-clients__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.our-clients__rectangle {
  width: 170px;
  height: 92px;
}
.our-clients__link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.our-clients__icon {
  display: block;
  fill: currentColor;
}
